*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*text*/
  color: rgb(0, 49, 76);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
}

a, a:visited, a:hover, a:active{
  text-decoration: none;
  color: rgb(0, 49, 76);
}

header{
  /*sizes+position*/
  width: 100vw;
  padding: 0 5%;
  position: sticky;
  top: 0;
  z-index: 10;
  /*coloring*/
  background: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

header .hide-in-mobile {
  /*flexbox*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*sizes+position*/
  height: 80px;
  .logo img{
    width: 170px;
    height: 66px;
    padding-bottom: 10px;
    vertical-align: middle;
  }
  .menu{
    display: flex;
  }
  .category{
    /*sizes+position*/
    padding-right: 35px;
    /*flexbox*/
    display: flex;
    align-items: center;
    gap: 10px;
    /*text*/
    font-size: 1.14rem;
    .arrow-down{
      display: none;
    }

    img{
      padding-top: 2px;
    }
  }
  .category:hover{
    color: rgb(242,110,34);
    .arrow-up{
      display: none;
    }
    .arrow-down{
      display: inline;
    }
  }
  .tel{
    /*flexbox*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*border*/
    border: 1px solid rgb(242,110,34);
    border-radius: 8px;
    /*sizes+position*/
    width: 173px;
    height: 45px;
    padding: 0 5px;
    /*text*/
    font-size: 1.14rem;
    p {
      margin: 0;
      padding-top: 3px;
    }
    img{
      height: 30px;
      width: 30px;
    }
  }
}

header .hide-in-desktop {
  /*flexbox*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  /*sizes+position*/
  height: 54px;
  .menu {
    cursor: pointer;
    border: none;
    background: none;
    .close{
      display: none;
    }
    img {
      /*sizes+position*/
      vertical-align: middle;
      width: 23px;
      height: 23px;
    }
  }
  button.menu:active{
    .open{
      display: none;
    }
    .close{
      display: block;
    }
  }
  .logo img {
    width: 129px;
    height: 40px;
    padding-bottom: 3px;
    vertical-align: middle;
  }
  .tel{
    /*flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*sizes+position*/
    width: 27px;
    height: 27px;
    padding: 0 5px;
    img {
      width: 27px;
      height: 27px;
    }
  }
}

.energy-types{
  /*size+position*/
  width: 100%;
  max-width: 600px;
  margin: 20px auto 0;
  padding: 8px;
  /*flexbox*/
  display: flex;
  justify-content: space-between;
  .energy-type{
    /*size*/
    width: 31%;
    height: 142px;
    /*box*/
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 0 29px rgba(0, 0, 0, 0.13);
    a{
      /*flexbox*/
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      /*size*/
      width: 100%;
      height: 100%;
      .type{
        /*text*/
        text-align: center;
        font-size: 13px;
        font-weight: 700;
        /*position*/
        margin: 13px 0 0;
      }
      .image-container{
        display: flex;
        justify-content: center;
        img{
          width: 45px;
          height: 45px;
          margin-bottom: 1px;
        }
      }
      .compare {
        /*flexbox*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        /*size*/
        width: 100%;
        height: 40px;
        /*box*/
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        background-color: rgb(242, 110, 34);
        p{
          color: white;
          font-size: 1rem;
          font-weight: 700;
        }
      }
    }
  }
}

.hero-section .hide-in-mobile {
  /*flexbox*/
  display: flex;
  /*sizes+position*/
  margin: auto auto 40px auto;
  max-width: 1000px;
  padding: 10px 50px 15px 50px;
  .text-and-energy-types{
    .text-container {
      /*size*/
      width: 555.3px;
      /*flexbox*/
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h1 {
        /*position*/
        margin: 0.57em 0 0.8em;
        /*text*/
        font-weight: 600;
        font-size: 1.85rem;
        line-height: 1.47;
      }
      .small-texts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .small-text {
          display: flex;
          align-items: center;
          img {
            width: 26px;
            height: 19px;
          }
          p {
            /*size+position*/
            margin: 16px 0;
            padding-left: 15px;
            /*text*/
            font-size: 16px;
            line-height: 13px;
          }
        }
      }
    }
    .energy-types{
      /*position*/
      margin-top: 43px;
      padding: 20px;
      /*box*/
      background-color: #f8fafb;
      border-radius: 12px;
      .energy-type{
        height: 175px;
        a{
          .type{
            /*text*/
            font-size: 1rem;
            /*position*/
            margin: 14px 0;
          }
          .image-container img{
            height: 60px;
            width: 60px;
            margin: 7px 0 20px;
          }
        }
      }
    }
  }
  .hero-image img{
    width: 320px;
    height: 292px;
    margin-left: 60px;
    margin-top: 34px;
  }
}

.hero-section .hide-in-desktop {
  /*background*/
  background-image: url("https://assets.pricefox.gr/greece/pricefox.gr/production/gr/images/ci/svg/mr_pricefox_thumbs_up.svg");
  background-repeat: no-repeat;
  background-size: contain;
  /*size*/
  padding-top: 47%;
  .white-hero-box{
    /*box*/
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
    /*size+position*/
    position:relative;
    max-width: 94%;
    margin: 10px auto 0 auto;
    padding: 10px 20px 40px 20px;
    /*flexbox*/
    display: flex;
    flex-direction: column;
    h1{
      /*position*/
      margin: 1em 3px 0.1em 0;
      /*text*/
      font-size: 1.42rem;
      font-weight: 600;
      text-align: center;
    }
    .small-text{
      /*position*/
      margin: 13px 0 15px;
      padding: 0 20px 0 20px;
      /*text*/
      text-align: center;
    }
  }
}

.faq-section{
  max-width: 900px;
  padding: 20px 25px 0;
  margin: 39px auto 25px;
  a{
    color: #f26e22;
    text-decoration: none;
  }
  a:hover{
    color: #bb4500;
  }
  h2{
    /*text*/
    font-size: 22px;
    /*position*/
    margin: -25px 0 30px;
  }
  p{
    /*position*/
    margin: 16px 45px 40px 0;
    /*text*/
    font-size: 16px;
    color: #737373;
    .blue{
      color: #0066FF;
    }
    .green{
      color: #34A853;
    }
    .yellow{
      color: #FBBC05;
    }
    .orange{
      color: #F26E22;
    }
  }
  .faq-list{
    .faq-item{
      padding-bottom: 25px;
      border-top: 1px solid #92a2aa;
      .faq-question{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
          /*position*/
          margin: 20px 0 21px;
          /*text*/
          font-weight: 700;
          font-size: 20px;
          cursor: pointer;
        }
        img{
          width: 15px;
          height: 20px;
          margin: 1px 4px;
          transform: rotate(180deg);
        }
      }
      .faq-answer{
        p{
          margin: 0 40px 16px 0;
        }
        ul{
          /*position*/
          margin: 0 0 16px 40px;
          /*text*/
          color: #647582;
          font-size: 16px;
        }
      }
    }
  }
}

.steps{
  /*flexbox*/
  display: flex;
  flex-direction: column;
  /*size+position*/
  width: 320px;
  padding: 25px 20px 20px;
  margin: auto;
  .steps-title{
    margin: 8px auto 20px;
    h2{
      font-weight: 700;
      font-size: 1.57rem;
      text-align: center;
    }
  }
  .steps-content{
    /*flexbox*/
    display: flex;
    flex-direction: column;
    /*size*/
    margin-bottom: 25px;
    .step{
      /*flexbox*/
      display: flex;
      flex-direction: column;
      /*position*/
      margin: 6px 0;
      .step-header{
        /*flexbox*/
        display: flex;
        align-items: center;
        gap: 10px;
        /*size+position*/
        height: 30px;
        margin-top: 18px;
        .step-number{
          display: flex;
          align-items: center;
          justify-content: center;
          /*size*/
          width: 25px;
          height: 25px;
          /*circle*/
          flex: 1 0 auto;
          border-radius: 50%;
          background: rgba(0, 71, 102, 0.5);
          /*text*/
          color: white;
          text-align: center;
        }
        .step-title{
          font-size: 1.28rem;
          font-weight: 700;
        }
      }
      .step-text {
        /*flexbox*/
        display: flex;
        flex-direction: column;
        /*size+position*/
        padding: 17px 10px;
        /*line*/
        border-left: 3px solid #076B9C;
        p {
          margin: 7px 0;
        }
      }
    }
  }
  .steps-button button{
    /*design*/
    border: none;
    border-radius: 0.57143rem;
    background-color: rgb(242, 110, 34);
    cursor: pointer;
    /*text*/
    font-size: 1rem;
    color: white;
    /*size+position*/
    width: 160px;
    height: 39px;
    margin-top: 14px;
  }
}

.why-pricefox{
  /*flexbox*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*size+position*/
  padding: 20px 0 30px;
  .why-title{
    margin: 24px 20px;
    h2{
      font-weight: 700;
      font-size: 1.71rem;
      text-align: center;
    }
  }
  .why-cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    .card{
      /*flexbox*/
      display: flex;
      flex-direction: column;
      align-items: center;
      /*box*/
      background: #ffffff;
      box-shadow: 0 0 29px rgba(0, 0, 0, 0.13);
      border-radius: 15px;
      /*size+position*/
      height: 215px;
      width: auto;
      margin: 10px 10px;
      padding: 17px;
      img{
        width: 115px;
        height: 46px;
      }
      .info-title{
        /*position+size*/
        margin: 15px 0;
        height: 26px;
        /*text*/
        font-size: 17px;
        font-weight: 700;
        line-height: 20px;
      }
      .info-description{
        /*position*/
        margin: 13px 0;
        /*text*/
        font-size: 13px;
        color: #92a2aa;
      }
    }
  }
}

.providers-section{
  display: flex;
  flex-direction: column;
  /*size+position*/
  margin: auto;
  padding-top: 30px;
  width: 320px;
  .hide-in-desktop {
    .providers-header{
      margin-bottom: 50px;
      h2{
        font-size: 23px;
        line-height: 30px;
        text-align: center;
      }
    }
    .providers {
      /*flexbox*/
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
      /*size*/
      width: 320px;
      height: 202px;
      .heron {
        width: 203px;
        height: 50px;
      }
      .elin {
        width: 65px;
        height: 44px;
        margin-top: 10px;
      }
      .volton {
        width: 79px;
        height: 60px;
        margin-top: 10px;
      }
      .eunice {
        width: 65px;
        height: 50px;
        margin: 17px 0 0 10px;
      }
      .protergia {
        width: 89px;
        height: 65px;
      }
      .zenith {
        width: 95px;
        height: 50px;
        margin-top: 20px;
      }
      .fysiko-aerio {
        width: 85px;
        height: 63px;
        margin: 10px 23px 10px;
      }
      .nrg {
        width: 88px;
        height: 45px;
        margin-top: 20px;
      }
    }
  }
}

.google-reviews{
  background-color: #004766;
  /*size+position*/
  height: auto;
  margin: 70px 0 30px;
  padding: 40px 0 50px;
  .reviews-content{
    /*flexbox*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /*size*/
    width: 240px;
    margin: auto;
    h2{
      text-align: center;
      line-height: 30px;
      font-size: 27px;
      color: white;
    }
    p{
      /*text*/
      text-align: center;
      color: white;
      /*position*/
      margin: -6px 0 4px;
    }
    .google-rating{
      /*flexbox*/
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      /*size*/
      height: 42px;
      .google{
        width: 28px;
        height: 38px;
      }
      .rating{
        font-size: 18px;
        font-weight: 400;
      }
      .stars{
        width: 101px;
        height: 25px;
      }
    }
    .review{
      /*flexbox*/
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      /*size*/
      width: 300px;
      height: 190px;
      padding: 15px 13px;
      margin:-2px 0;
      /*box*/
      background: white;
      border-radius: 8px;
      .date{
        /*position*/
        margin: 0 0 3px;
        align-self: flex-end;
        /*text*/
        color: #92A2AA;
        font-size: 12px;
      }
      .name{
        /*position*/
        margin: -2px 0 3px 5px;
        /*text*/
        color: #00314C;
        font-size: 1.14rem;
      }
      .full-stars{
        width: 83px;
        height: 16px;
      }
      .review-and-logo{
        display:flex;
        .review-text{
          /*text*/
          line-height: 18px;
          text-align: left;
          color: #92A2AA;
          font-size: 14px;
          /*size+position*/
          width: 244px;
          height: 79px;
          margin: 7px 0 14px 10px;
        }
        .google-s{
          align-self: flex-end;
          width: 20px;
          height: 30px;
        }
      }
    }
  }
}

.awards-section{
  /*size*/
  margin: auto auto 50px;
  padding: 30px 0;
  /*flexbox*/
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    width: 125px;
    height: 125px;
  }
  h2{
    /*text*/
    font-size: 28px;
    /*position*/
    margin: 15px 0 55px;
  }
  .awards{
    gap: 30px;
  }
  .awards, a{
    display: flex;
    flex-direction: column;
    align-items: center;

    .award{
      display:- flex;
      flex-direction: column;
      align-items: center;
      img{
        width: 110px;
        height: 120px;
      }
      p{
        /*text*/
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        /*position*/
        margin: 10px 0 40px;
      }
    }
  }
}

.banner{
  /*size*/
  height: 357px;
  padding-top: 25px;
  margin: auto;
  /*background*/
  background-image: url("https://assets.pricefox.gr/assets/blue-banner-background.svg");
  background-position :center;
  .banner-container{
    /*flexbox*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*size*/
    width: 340px;
    padding: 12px 10px 20px;
    margin: auto;
    h2{
      /*size*/
      width: 320px;
      padding-top: 10px;
      /*text*/
      text-align: left;
      color: white;
      line-height: 25px;
    }
    .email-input{
      /*position*/
      width: 100%;
      margin-top: 20px;
      /*flexbox*/
      display: flex;
      justify-content: flex-start;
      input{
        /*size*/
        width: 70%;
        height: 43px;
        padding: 1px 2px 1px 15px;
        /*box*/
        border-radius: 6px 0 0 6px;
        border: none;
        /*text*/
        font-size: 14px;
      }
      button{
        /*size*/
        padding: 4px 1px;
        width: 30%;
        height: 43px;
        /*text*/
        color: white;
        font-weight: 500;
        font-size: 14px;
        /*design*/
        background-color: rgb(242, 110, 34);
        border-radius: 0 6px 6px 0;
        border: none;
        cursor: pointer;
      }
      img{
        width: 20px;
        height: 20px;
        margin: 15px -15px 0 5px;
      }
    }
    .email-error-message, .terms-error{
      /*text*/
      font-size: 12px;
      font-weight: 700;
      color: #c15c5c;
      /*size+position*/
      align-self: flex-start;
      padding: 3px 0 0 25px;
      margin: 10px 0;
      .bad-email{
        display: none;
      }
    }
    .terms{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      input{
        margin: 2px 10px 0 0;
      }
      p {
        color: white;
        line-height: 18px;
        a {
          color: #f26e22;
        }
      }
      img{
        width: 35px;
        height: 31px;
        margin: 0 10px 0 20px;
      }
    }
  }
  .social-links{
    /*flexbox*/
    display: flex;
    gap: 20px;
    /*position*/
    margin-bottom: 10px;
    padding-right: 20px;
    img{
      width: 24px;
      height: 24px;
    }
  }
}

.support{
  margin: 90px 0 70px;
  .phone-support{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*box*/
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 29px rgba(0, 0, 0, 0.13);
    /*size+position*/
    margin: 90px 20px 0;
    padding: 33px;
    width: auto;
    img{
      height: 95px;
      width: 95px;
      margin-bottom: 20px;
    }
    h2{
      /*position*/
      margin: 8px 0 50px;
      /*text*/
      font-size: 23px;
      line-height: 30px;
    }
    p{
      /*position*/
      margin-bottom: 15px;
      /*text*/
      color: #737373;
      font-size: 15px;
    }
    .tel{
      /*flexbox*/
      display: flex;
      align-items: center;
      justify-content: space-between;
      /*size*/
      width: 230px;
      height: 60px;
      padding: 16px;
      /*box*/
      background-color: #f26e22;
      border-radius: 5px;
      /*text*/
      color: white;
      font-weight: 700;
      img{
        margin: 0;
        width: 25px;
        height: 25px;
      }
      p{
        /*position*/
        margin: 0;
        /*text*/
        color: white;
        font-size: 20px;
      }
    }
  }
  .email-support{
    /*flexbox*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*box*/
    background: #f5f7fb;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 29px rgba(0, 0, 0, 0.13);
    /*size+position*/
    margin: 0 20px;
    padding: 23px 33px;
    width: auto;
    img{
      width: 53px;
      height: 53px;
    }
    p{
      /*text*/
      font-size: 13px;
      /*position*/
      margin: 7px 0;
    }
    a{
      font-weight: 700;
      font-size: 20px;
    }
  }
}

.footer-links{
  /*size*/
  padding: 100px 8% 50px;
  /*box*/
  background-color: #ECF6FF;
  .links-section{
    margin-bottom: 30px;
    .links-title{
      /*flexbox*/
      display: flex;
      gap: 124px;
      /*position*/
      margin-bottom: 20px;
      .title-container{
        p{
          /*position*/
          margin-left: 18px;
          /*text*/
          font-size: 1.21rem;
          font-weight: 700;
        }
      }
      .hr-container{
        flex: 1 1 auto;
        hr{
          /*text*/
          height: 1px;
          color: #BBC0D1;
          /*position*/
          margin-top: 7px;
        }
      }
    }
    .links-content{
      display: flex;
      flex-wrap: wrap;
      gap: 10px 66px;
      .links{
        /*flexbox*/
        display: flex;
        flex-direction: column;
        /*size*/
        width: 350px;
        /*position*/
        padding-left: 25px;
        a{
          /*position*/
          margin-bottom: 10px;
          /*text*/
          font-size: 1.14rem;
          font-weight: 400;
        }
      }
    }
  }
}

.footer{
  /*flexbox*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  /*background*/
  background-color: #004467;
  /*size*/
  padding: 40px 5% 30px;
  .footer-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: 268px;
      height: 77px;
      margin: auto;
    }
    p{
      color: white;
      font-size: 1.14rem;
    }
  }
  .info-links-container{
    /*flexbox*/
    display: flex;
    justify-content: space-around;
    gap: 3%;
    /*size*/
    padding: 10px 3% 10px;
    width: 100%;
    .info-links-list{
      /*flexbox*/
      display: flex;
      flex-direction: column;
      /*size*/
      padding: 0 15px;
      max-width: 334px;
      .info-links-title{
        color: white;
        font-size: 1.71rem;
        font-weight: 700;
      }
      .info-links{
        /*flexbox*/
        display: flex;
        flex-direction: column;
        /*size*/
        padding-top: 20px;
        a{
          /*position*/
          padding-bottom: 10px;
          /*text*/
          color:white;
          font-size: 1.14rem;
        }
      }
    }
  }
  .espa {
    /*flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*size+position*/
    width: 635px;
    height: 75px;
    margin-top: -10px;
    /*rounded*/
    border-radius: 10px;
    background-color: white;
    img{
      /*size+position*/
      width: 630px;
      height: 70px;
    }
  }
  .bottom-text {
    color: white;
    text-align: center;
    font-size: 1.14rem;
  }
  .national-bank{
    /*flexbox*/
    display: flex;
    align-items: center;
    /*size+position*/
    margin-top: -20px;
    width: 100%;
    hr{
      /*size*/
      height: 2px;
      width: 100%;
      /*color*/
      color: #BBC0D1;
    }
    img{
      width: 113px;
      height: 61px;
      margin: 0 40px 30px;
    }
  }
  .asterisk-text {
    /*text*/
    color: white;
    text-align: center;
    font-size: 1.14rem;
    /*position*/
    margin-top: -20px;
  }
  .end-text{
    /*text*/
    color: white;
    text-align: center;
    font-size: 1.14rem;
    a{
      color: #F26E22;
    }
  }
}

@media (min-width: 993px){
  .hide-in-desktop{
    display: none !important;
  }
}

@media (min-width: 993px) and (max-width: 1200px){
  .hero-section .hide-in-mobile{
    padding: 20px 50px;
  }
}

@media (min-width: 993px) and (max-width: 1440px){
  .hide-in-desktop{
    display: none !important;
  }
  header .hide-in-mobile {
    .large-screens{
      display: none !important;
    }
    .logo img{
      width: 120px;
      height: 76px;
      padding-bottom: 10px;
      vertical-align: middle;
    }
    .category{
      padding: 3px 15px 0 10px;
    }
    .tel {
      /*box*/
      border: none;
      /*size*/
      width: 30px;
      height: 30px;
      padding: 0 5px;
    }
  }
}

@media (max-width: 992px) {
  .hide-in-mobile{
    display: none !important;
  }
}

@media (max-width: 370px){
  .hero-section .hide-in-desktop .white-hero-box .energy-types .energy-type{
    height: 125px;
    a {
      .type{
        /*text*/
        font-size: 12px;
        overflow: hidden;
        /*flex*/
        flex: 1 1 auto;
      }
      .image-container img {
        width: 40px;
        height: 40px;
      }
    }
  }
}